<!DOCTYPE html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <form action="/article_submit/" method="POST">
                    <div class="col-sm-6">
                        <label>Text to be Summarized:</label>
                        <input type="text" name="articles">
                        <!-- <textarea class="form-control" name="articles" placeholder="Enter your Text" value="">Hello</textarea> -->
                    </div>
                    <div class="col-sm-6">
                        <label>Summarized: Text</label>
                        <textarea class="form-control" name="summary" placeholder="Summary of text"></textarea>  
                    </div>
                    <input type="submit">

                </form>
            </div>
    
        </div>
    
    </body>
</html>